header
{
  background: #bbbbbb;
  padding: 20px 0;  /* 20px é pra cima e   pra baixo;  e o 0 é pra esquerda e direita */
}

.caixa
{
    position: relative; /* margin de posicionamento relativa não é fixa, ou seja pode ser alterado o elemento dentro  da div */
    width: 940px; /* width = largura */
    margin: 0 auto; /* auto é para se adequar e  centralizar independente da resolução da tela */
}

nav
{
    position: absolute; /* para deslocar o elemento para onde eu desejar*/
    top: 110px; /* o top sobe o elemento todo para o topo do site */
    right: 0; /* no right leva o elemento para a direita da  tela */
}

nav li
{
  display: inline; /* fazer com  q toda a lista fique na mesma linha */
  margin: 0 0 0 15px; /* primeiro 0 é para cima, o segundo e para  baixo, o terceiro é pra direita e o 15px é o afastamento para esquerda */
}

nav a
{
  text-transform: uppercase; /* fazer todo o  conteudo a ficar maiusculo */
  color: #000000;
  font-weight: bold; /* negrito */
  font-size: 22px; /* mudar o tamanho do texto */
  text-decoration: none; /* tirar  o efeito de sublinhado no texto, e todos os efeitos */
}
